@media screen and (max-width:1000px){

    nav {
        width: 95%;
        position: relative;
    }

    .background-svg{
        display: none;
    }

    .nav-list{
        display: block;
        position: absolute;
        right: 0;
        top:50px;
        z-index: 2;
        width:500px;
        background: black;
    }

    .nav-list a{
        color:white;
        margin-left: 30px;
    }

    .nav-list-off{
        transform: translateX(10px);
        transition: 0.3s;
    }

    .nav-list-on{
        transform: translateX(600px);
        transition: 0.3s;
    }

    .nav-list li{
        display: block;
        margin: 50px auto;

    }

    .toggle-bar{
        display: block;
        width:50px;
        height: 5px;
        background: black;
        position: relative;
        transition: 0.3s;
    }

    .toggle-bar::after{
        content: '';
        position: absolute;
        top:-10px;
        display: block;
        width:50px;
        height: 5px;
        background: black;
        transition: 0.3s;
    }

    .toggle-bar::before{
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width:50px;
        height: 5px;
        background: black;
        transition: 0.3s;
    }

    .toggle-nav{
        transform: translateX(-600px);
        transition: 0.3s;
    }

    .toggle-nav-close{
        transform: translateX(500px);
        transition: 0.3s;
    }

    .toggle-on{
        transform: rotate(50deg);
        display: block;
        width:30px;
        height: 5px;
        background: black;
        position: relative;
        transition: 0.3s;
    }

    .toggle-on::after{
        content: '';
        transform: rotate(-100deg);
        display: block;
        width:30px;
        height: 5px;
        background: black;
        position: relative;
        transition: 0.3s;
    }




    .illustration{
        display: none;
    }

    .site-intro{
        margin:auto;
        padding-left: 10px;
        background: #38d39f;
        text-align: center;
    }

    .site-intro h1{
        font-size:50px;
        margin: auto 10px;
    }

    .intro-btn{
        background: black;
    }

    .intro-btn a {
        color: #38d39f;
    }

    .intro-text{
        width:100%;
    }

    .svg-right{
        display: none;
    }

    /* about */

    .about-section{
        width:90%;
    }

    /* contact */

    .contact-container{
        display:block;
    }
    .contact-container > div {
        width: 100%;
    }
}

@media screen and (max-width:1400px){
    .illustration{
        width: 50vw;
        right: -10px;
    }

    .portfolio-container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}

@media screen and (max-width:2000px){
    .illustration{
        top:5vh;
    }
}

@media screen and (max-width:450px){
    .nav-list-off{
        transform: translateX(150px);
        transition: 0.3s;
    }
}